<!doctype html>
<html ng-app>
<head>
<meta charset="utf-8">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!-- Código propio de la simulacion -->
<script src="distribuciones.js"></script>
<script src="eventos.js"></script>
<script src="simulacion.js"></script>
<script src="app.js"></script>
</head>
<body ng-controller="SimulacionCtrl">
<div class="container">
	<div class="well">
	<h1>Simulación</h1>
	<p>Proyecto de Investigación de Operaciones</p>
	<p>Realizado por Esteban Rodríguez Betancourt</p>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h2>Configuración</h2>
			<ul>
			<li><label for="txtNumRep"> Cantidad de repeticiones</label>
			<input id="txtNumRep" type="number" min="1" max="100000" value="10" ng-model="CantidadRepeticiones"/></li>
			<li><label for="txtNumMin"> Minutos a simular</label>
			<input id="txtNumMin" type="number" min="1" max="100000" value="1000" ng-model="MinutosSimulacion"/></li>
			<li><label for="txtPausa"> Pausa entre eventos (milisegundos)</label>
			<input id="txtPausa" type="number" min="0" max="1000" value="0" ng-model="PausaMilis"/></li>
			</ul>
		</div>
		<div class="col-lg-3">
			<button class="form-control btn btn-danger" ng-click="Reiniciar()">Reiniciar</button>
			<br/>
			<!--
			<button class="form-control btn btn-warning" ng-click="Detener()">Detener</button>
			<br/>
			-->
			<button class="form-control btn btn-success" ng-click="Simular2()">Iniciar Simulación</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h1>Simulación Actual</h1>
			<ul>
			<li>Reloj: {{SA.Reloj}}
			<li>Evento: {{SA.Ejecutando.Nombre}}:{{SA.Ejecutando.Descripcion}}
			<li>Mensajes enviados: {{SA.e.Enviados}}
			<li>Mensajes rechazados: {{SA.e.Rechazados}}
			</ul>
			<table class="table table-hover">
			<thead>
			<tr><th>Servidor</th><th>Estado</th><th>Mensajes en cola</th></tr>
			</thead>
			<tbody>
				<tr><td>Servidor 1</td>
					<td>{{SA.Estados.A}}</td>
					<td>{{SA.Colas.A.length}}</td>
				</tr>
				<tr><td>Servidor 2.1</td>
					<td>{{SA.Estados.B1}}</td>
					<td rowspan="2">{{SA.Colas.B.length}}</td>
				</tr>
				<tr><td>Servidor 2.2</td>
					<td>{{SA.Estados.B2}}</td>
				</tr>
				<tr><td>Servidor 3</td>
					<td>{{SA.Estados.C}}</td>
					<td>{{SA.Colas.C.length}}</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<h1>Rendimiento del sistema</h1>
		<table class="table table-hover table-bordered">
			<thead>
			<tr>
			<th></th>
			<th></th>
			<th colspan="3">Mensajes</th>
			<th colspan="4">% ocupación</th>
			<th colspan="2">% ocupación rechazados</th>
			<th rowspan="2">% mensajes rechazados</th>
			<th colspan="2">Promedio de devoluciones de 1 a</th>
			<th colspan="3">Tiempo promedio por mensaje en</th>
			<th rowspan="2">% de tiempo en procesamiento por mensaje</th>
			</tr>
			<tr>
			<th>Simulación</th>
						<th>Reloj (minutos)</th>
			<th>Enviados</th>
			<th>Rechazados</th>
			<th>Total</th>
			<th>PC 1</th> <!-- Porcentaje de tiempo computando -->
			<th>PC 2.1</th>
			<th>PC 2.2</th>
			<th>PC 3</th>
			<th>PC 1</th> <!-- Porcentaje de tiempo computando rechazados -->
			<th>PC 3</th>
			<th>PC 2</th><!-- Promedio devoluciones -->
			<th>PC 3</th>
			<th>Sistema</th><!-- Tiempo promedio por mensaje en -->
			<th>Colas</th>
			<th>Transmisión</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="e in Simulaciones">
				<td>{{Simulaciones.indexOf(e) + 1}}</td>
			<td>{{e.Reloj | number:3}}</td>
				<td>{{e.e.Enviados}}</td>
				<td>{{e.e.Rechazados}}</td>
				<td>{{e.e.NumTotal}}</td>
			
				<td>{{e.e.pOA * 100 | number:2}}%</td>
				<td>{{e.e.pOB1 * 100 | number:2}}%</td>
				<td>{{e.e.pOB2 * 100 | number:2}}%</td>
				<td>{{e.e.pOC * 100 | number:2}}%</td>
			
				<td>{{e.e.pORA * 100 | number:2}}%</td>
				<td>{{e.e.pORC * 100 | number:2}}%</td>
			
				<td>{{e.e.pMsgRechazado  * 100 | number:2}}</td>
			
				<td>{{e.e.DevolucionesB | number:5}}</td>
				<td>{{e.e.DevolucionesC | number:5}}</td>
			
				<td>{{e.e.TSistema * 60  | number:2}}</td>
				<td>{{e.e.TiempoColas * 60  | number:2}}</td>
				<td>{{e.e.TiempoTransmision * 60  | number:2}}</td>
			
				<td>{{e.e.PorcentajeProcesamiento * 100  | number:2}}%</td>
			</tr>
			<tr>
			<td>Promedio total</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<p>&nbsp;</p>
</body>
</html>
