<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="css/bootstrap-flatty.min.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Código propio de la simulacion -->
    <script src="distribuciones.js"></script>
    <script src="eventos.js"></script>
    <script src="simulacion.js"></script>
    <script src="tstudent.js"></script>
    <script src="app.js"></script>

    <title>Proyecto de Investigación de Operaciones</title>
</head>
<body ng-controller="SimulacionCtrl">
    <div style="margin: 1cm;">
        <div class="well">
            <h1>Simulación</h1>
            <p>Proyecto de Investigación de Operaciones</p>
            <p>Realizado por Esteban Rodríguez Betancourt</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h2>Configuración</h2>
                <ul>
                    <li>
                        <label for="txtNumRep">Cantidad de repeticiones</label>
                        <input id="txtNumRep" type="number" min="1" max="100000" value="10" ng-model="CantidadRepeticiones" /></li>
                    <li>
                        <label for="txtNumMin">Minutos a simular</label>
                        <input id="txtNumMin" type="number" min="1" max="100000" value="1000" ng-model="MinutosSimulacion" /></li>
                    <li>
                        <label for="txtPausa">Pausa entre eventos (milisegundos)</label>
                        <input id="txtPausa" type="number" min="0" max="1000" value="0" ng-model="PausaMilis" /></li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="row">
                    <button class="col-lg-4 col-md-4 btn btn-danger" ng-click="Reiniciar()">Reiniciar</button>
                    <button class="col-lg-4 col-md-4 btn btn-success" ng-click="Simular2()">Iniciar Simulación</button>
                    <button class="col-lg-4 col-md-4 btn btn-info" ng-click="FastExecution()">Ejecución rápida</button>
                </div>
                <div class="row">
                    <input type="checkbox" ng-model="ModoRapido" id="chkRapido" />
                    <label for="chkRapido">No mostrar los resultados en tiempo real</label>
                </div>
                <div class="row">
                    <label for="txtConfianza">Porcentaje de confianza</label>
                    <select class="combobox" ng-model="PorcentajeConfianza" ng-options="d+'%' for d in AcumuladaStudent" combobox>
                    </select>
                    <button class="btn btn-info" ng-click="ActualizarDatosAcumulados()()">Actualizar estadísticas</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4" ng-include="'templates/simactual.html'">
                <!-- Simulación actual -->
            </div>

            <div class="col-lg-6 col-md-8" ng-include="'templates/rendimiento.html'">
                <!-- Rendimiento del sistema -->
            </div>
        </div>

        <!-- Aquí voy a poner las estadísticas que corresponden a mensajes enviados, rechazados, todos -->
        <div class="row">
            <!-- Mensajes rechazados -->
            <div class="col-lg-4" ng-include="'templates/est-rechazados.html'">
            </div>

            <!-- Mensajes enviados -->
            <div class="col-lg-4" ng-include="'templates/est-enviados.html'">
            </div>

            <!-- Mensajes todos -->
            <div class="col-lg-4" ng-include="'templates/est-todos.html'">
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</body>
</html>
