<div class="panel panel-success">
    <div class="panel-heading">
        <h2>Mensajes enviados</h2>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th rowspan="2">Simulación</th>
                    <th rowspan="2">Media rebotes en PC1</th>
                    <th colspan="4">T. promedio por mensaje en</th>
                    <th rowspan="2">% tiempo cómputo</th>
                </tr>
                <tr>
                    <!-- Promedio devoluciones -->
                    <th>Sistema</th>
                    <!-- Tiempo promedio por mensaje en -->
                    <th>Colas</th>
                    <th><span title="Tiempo promedio que pasa cada mensaje en transmisión">Trans.</span></th>
					<th>Cómputo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in Simulaciones">
                    <td>{{Simulaciones.indexOf(e) + 1}}</td>
                    
                    <!-- Lo siguiente aplica para mensajes rechazados, enviados o ambos -->
                    <td>{{e.e.DevolucionesEnviados | number:5}}</td>

                    <td>{{e.e.TiempoEnSistemaEnviados * 60  | number:4}}s</td>
                    <td>{{e.e.TiempoColasEnviados * 60  | number:4}}s</td>
                    <td>{{e.e.TiempoTransmisionEnviados * 60  | number:4}}s</td>
                    <td>{{e.e.TiempoComputoGEnviados * 60  | number:4}}s</td>

                    <td>{{e.e.ProcesamientoPorMensajeEnviados * 100  | number:4}}%</td>
                </tr>
                <tr class="warning">
                    <th>Promedio total</th>
                    <!-- Lo siguiente aplica para mensajes rechazados, enviados o ambos -->
                    <td>{{Promedios.DevolucionesEnviados || 0 | number:5}}</td>

                    <td>{{Promedios.TiempoEnSistemaEnviados * 60 || 0  | number:4}}s</td>
                    <td>{{Promedios.TiempoColasEnviados * 60 || 0  | number:4}}s</td>
                    <td>{{Promedios.TiempoTransmisionEnviados * 60 || 0  | number:4}}s</td>
                    <td>{{Promedios.TiempoComputoGEnviados * 60 || 0  | number:4}}s</td>

                    <td>{{Promedios.ProcesamientoPorMensajeEnviados * 100 || 0  | number:4}}%</td>
                </tr>
                <tr class="success">
                    <th>Intervalo de confianza:</th>
                    
                    <td>[{{Confianza.DevolucionesEnviados.Min || 0 | number:5}},
{{Confianza.DevolucionesEnviados.Max || 0 | number:5}}]
                    </td>


                    <td>[{{Confianza.TiempoEnSistemaEnviados.Min * 60 || 0  | number:4}}s,
{{Confianza.TiempoEnSistemaEnviados.Max * 60 || 0  | number:4}}s]</td>

                    <td>[{{Confianza.TiempoColasEnviados.Min * 60 || 0  | number:4}}s,
{{Confianza.TiempoColasEnviados.Max * 60 || 0  | number:4}}s]</td>

                    <td>[{{Confianza.TiempoTransmisionEnviados.Min * 60 || 0  | number:4}}s,
{{Confianza.TiempoTransmisionEnviados.Max * 60 || 0  | number:4}}s]</td>

<td>[{{Confianza.TiempoComputoGEnviados.Min * 60 || 0  | number:4}}s,
{{Confianza.TiempoComputoGEnviados.Max * 60 || 0  | number:4}}s]</td>




                    <td>[{{Confianza.ProcesamientoPorMensajeEnviados.Min * 100 || 0  | number:4}}%,
{{Confianza.ProcesamientoPorMensajeEnviados.Max * 100 || 0  | number:4}}%]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
